

.container{
	width: 80%;
	height: 170px;
	margin: 20px;
	display: inline-block;
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	
	
}

.container > div{
	display: inline-block;
	width: 140px;
	height: 170px;
	position: relative;
}

.angelfuck{
	position: fixed;
 	right: 0;
  	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: fixed;
  font-size: 16px;
}

.A{
	width: 140px;
	height: 170px;
	position: relative;
}
  	

.Avertical{
	width: 10px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 20px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 3s;
}

.Alefttop{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 3s;
}

.Arighttop{
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 3s;
}

.Arightvertical{
    width: 10px;
    height: 130px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 10px;
    left: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 3s;
}
.Astem{
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 3s;
}

.B{
	width: 140px;
	height: 170px;
	position: relative;
	
	

}
.Bvertical{
	width: 10px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 20px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Blefttop{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Brighttop{
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Brighttopvertical{
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 50px;
    top: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Bmiddle{
    width: 60px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Brightbottomvertical{
	width: 10px;
    height: 90px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 70px;
    top: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Bbottom{
	width: 60px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.C{
	width: 140px;
	height: 170px;
	position: relative;
	
}

.Cvertical{
	width: 10px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 20px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Clefttop{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Crighttop{
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Crightvertical{
    width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 10px;
    left: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Cbottom{
	width: 60px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Crightbottom{
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.D{
	width: 140px;
	height: 170px;
	position: relative;
}
.Dright{
	width: 10px;
	height: 110px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
    top: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Dbottom{
	width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}
.Dbottomright{
	width: 20px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 50px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.E{
	width: 140px;
	height: 170px;
	position: relative;
	animation: name;
}
.Erightbottom{
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 6s;
}
.Ebottom{
	width: 60px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 6s;
}

.Emiddle{
	width: 40px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 10px;
    top: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 6s;
}

.Evertical{
	width: 10px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 20px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 6s;
}

.Elefttop{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 6s;
}

.Erighttop{
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 6s;
}

.Fmiddle{

	width: 40px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 10px;
    top: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Grightvertical{
	width: 10px;
    height: 40px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 10px;
    left: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;

}

.Gbottom{
	width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Gbottomright{
	width: 20px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 50px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Gbottomvertical{
	width: 10px;
	height: 40px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
    top: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Gmiddle{
	width: 40px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 30px;
    top: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Gvertical{
	width: 10px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 20px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Glefttop{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Grighttop{
    width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 5s;
}

.Hvertical{
	width: 10px;
	height: 140px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Hrightvertical{
	width: 10px;
	height: 140px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 50px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Itop{
	width: 70px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Ivertical{
	width: 10px;
	height: 120px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 30px;
	top: 10px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Ibottom{
	width: 70px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 130px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Jleft{
	width: 10px;
	height: 40px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 80px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Jbottomleft{
	width: 20px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 120px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Jbottom{
	width: 50px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 130px;
	left: 10px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Jvertical{
	width: 10px;
	height: 130px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Jtop{
	width: 60px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 20px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Kstem{
    width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Kright{
	width: 10px;
	height: 50px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 40px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Krightbottom{
	width: 10px;
	height: 90px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
	top: 50px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Lbottom{
	width: 60px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 7s;
}

.Lrightbottom{
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 60px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 7s;
}

.Lvertical{
	width: 10px;
	height: 140px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	animation: lettercolor 100s infinite;
    animation-delay: 7s;
}



.Mtopleft{
	width: 30px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Mmiddle{
	width: 10px;
    height: 50px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 40px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Mright{
	width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 50px;
    top: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Mrighttop{
	width: 30px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Mrightvertical{
	width: 10px;
    height: 140px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Nrighttop{
 	 width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}
.Nmiddle{
 	width: 10px;
    height: 110px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 40px;
    top: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}

.Nsquare{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 40px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}
.Nsquare2{
	width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 60px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}

.Nrightvertical{
	width: 10px;
    height: 130px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 70px;   
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}
.Nvertical{
	width: 10px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 20px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}

.Nlefttop{
	width: 20px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 10px;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 4s;
}

.Overtical{
	width: 10px;
	height: 100px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 20px;  
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Otopleft{
	width: 20px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 10px;  
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Obottom{
	width: 40px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 130px;
	left: 10px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Pright{
	width: 10px;
	height: 40px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 10px;
	left: 60px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Pmiddleone{
	width: 40px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 50px;
	left: 20px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Pmiddletwo{
	width: 20px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	top: 60px;
	left: 10px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Qbottomright{
	width: 30px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 50px;
    top: 120px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Qbottomright2{
	width: 20px;
	height: 10px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 70px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Rrighttop{
    width: 30px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Sone{
	 width: 10px;
    height: 30px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    left: 60px;
    top: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Stwo{
	width: 10px;
    height: 60px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Sthree{
	width: 40px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 70px;
    left: 20px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Sfour{
	width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 80px;
    left: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Sfive{
	width: 10px;
    height: 50px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 80px;
    left: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Ssix{
	width: 50px;
    height: 10px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 130px;
    left: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Sseven{
	width: 10px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin:  -2px;
    top: 100px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Tvertical{
	width: 10px;
	height: 130px;
	background-color: black;
	position: absolute;
	margin:  -2px;
	left: 30px;
	top: 10px;
	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Uvertical{
	width: 10px;
	height: 120px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Uright{
	width: 10px;
	height: 120px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Vbottom{
	width: 30px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 130px;
    left: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.V3{
	width: 10px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 120px;
    left: 40px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.V4{
	width: 10px;
	height: 120px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.W1{
	width: 10px;
	height: 40px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 90px;
    left: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.W2{
	width: 30px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 130px;
    left: 50px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.W3{
	width: 20px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 120px;
    left: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.W4{
	width: 10px;
	height: 130px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 90px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X1{
	width: 10px;
	height: 60px;
	background-color: black;
    position: absolute;
    margin:  -2px;
   	top: 80px;
   	animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X2{
	width: 10px;
	height: 60px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X3{
	width: 10px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 70px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X4{
	width: 40px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 20px;
    top: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X5{
	width: 10px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 50px;
    top: 70px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X6{
	width: 10px;
	height: 60px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.X7{
	width: 10px;
	height: 60px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 80px;
    left: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Y1{
	width: 10px;
	height: 70px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Y2{
	width: 40px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 70px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Y3{
	width: 40px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 130px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Y4{
	width: 10px;
	height: 30px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 100px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z1{
	width: 10px;
	height: 20px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z2{
	width: 60px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z3{
	width: 10px;
	height: 50px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 70px;
    top: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z4{
	width: 20px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 50px;
    top: 60px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z5{
	width: 20px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 30px;
    top: 70px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z6{
	width: 20px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    left: 10px;
    top: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z7{
	width: 10px;
	height: 50px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 80px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z8{
	width: 70px;
	height: 10px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 130px;
    left: 10px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}

.Z9{
	width: 10px;
	height: 30px;
	background-color: black;
    position: absolute;
    margin:  -2px;
    top: 110px;
    left: 70px;
    animation: lettercolor 100s infinite;
    animation-delay: 10s;
}


@keyframes lettercolor{
	0%,8%,16%,24%,32%,40%,48%,56%,64%,72%,80%,88%,96%{
		background-color: red;
	}
	2%,10%,18%,26%,34%,42%,50%,58%,66%,74%,82%,90%,98%{
		background-color: blue;
	}
	4%,12%,20%,28%,36%,44%,52%,60%,68%,76%,84%,92%,100%{
		background-color: yellow;
	}
	6%,14%,22%,30%,38%,46%,54%,62%,70%,78%,86%{
		background-color: green;
	}
}