.body{
	background-color: 00000;
	height: 3000px;
}
.banner{
	font-family: monospace;
	font-size: 30px;
	color: whitesmoke;
	position: fixed;
}
.orb2{
	width: 10%;
	position: absolute;
	left: 50%;
	animation: orb2 200s;
	top: 350px;
}

@keyframes orb2{
	0%{
		transform: scale(.001);
		top: 100px;
	}
	5%{
		
		top: 100px;
		opacity: 1;
		transform: skew(10deg) scale(3);;
		
	}
	10%,30%,50%{ 
		transform: scale(1.0);
		opacity: 1;
		transform: skew(40deg);
	}
	20%,40%,60%,80%{
		opacity: 1;
		transform: skew(100deg);
	}
	100%{
		top: 5000px;
		
	}
}

.exmilitary{
	width: 20%;
	top: 50px;
	position: absolute;
	left: 150px;
	top: 800px;
	animation: exmilitarySize 100s;
	border-radius: 100%;
	animation: head1 60s infinite;
	animation-delay: 30s;
}
.gardner{
	width: 20%;
	position: absolute;
	top: 400px;
	left: 100px;
	animation: gardner 120s infinite;
}
@keyframes gardner{
	0%, 100%{
		transform: scale(1.0);
	}
	50%{
		transform: scale(3.0);
	}
}

.head1{
	width: 30%;
	position: absolute;
	top: 600px;
	left: 1000px;
	animation: head1 60s infinite;
}

@keyframes head1{
	0%,100%{
		opacity: .1;
	}
	50%{
		opacity: 1.0;
	}

}

.ghost{
	width: 15%;
	position: absolute;
	top: 550px;
	left: 900px;
	animation: ghostmove 30s infinite;
}

@keyframes ghostmove{
	0%{
		top: 550px;
		transform: scale(.001);
	}
	50%{
		top: 250px;
		transform: scale(.7);
	}
	65%{
		top: 300px;
	}
	75%{
		top: 200px;
	}
	100%{
		transform: scale(1.0);
	}

}

.craiggreen{
	width: 100%;
	position: absolute;
	top: 1000px;
	left: 500px;
	animation: craiggreen 15s infinite;
}

@keyframes craiggreen{
	0%,100%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(180deg);
	}
}

.pyramid{
	width: 40%;
	position: absolute;
	left: 40%;
	top: 1200px;
	animation: pyramid 60s infinite;
}

@keyframes pyramid{
	0%,100%{
		filter: hue-rotate(0deg);
	}
	99%{
		filter: hue-rotate(360deg);
	}
}

.craiggreen2{
	width: 30%;
	position: absolute;
	left: 200px;
	top: 1300px;
	animation: craiggreen2 15s infinite;
}

@keyframes craiggreen2{
	0%,100%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(-180deg);
	}
}

.clown{
	position: absolute;
	width: 30%;
	top: 2400px;
	left: 1000px;
}

.stereo{
	position: absolute;
	width: 30%;
	top: 2600px;
	left: 500px;
}

.doctor{
	position: absolute;
	width: 40%;
	top: 2800px;
	left: 50px;
	animation: doctor 30s infinite;
}
.apple{
	position: absolute;
	width: 90%;
	top: 3000px;
	left: 100px;
}
.weird{
	position: absolute;
	width: 40%;
	top: 4600px;
	left: 600px;
}

@keyframes doctor{

	0%,100%{
		top: 2800px;
		opacity: 1;
		filter: brightness(1);
	}

	20%{
		top: 2600px;
		opacity: .35;
		filter: brightness(3);
	}

	25%{ top: 2900px;
	}
	35%{ top: 2700px; 
		opacity: .2;
		filter: brightness(2);}
	50% { top: 2800px;
		opacity: .75;
		filter: brightness(1.5); }
	75% { top: 2500px; 
		opacity: .55;
		filter: brightness(2
		}
	85% { top: 3000px; }
}

