.blues {
  animation: bgcolor 10s infinite;
}
@keyframes bgcolor {
  0%, 100% {
    background-color: aliceblue;
  }
  50% {
    background-color: powderblue;
  }
}
.container{
	width: 45%;
	height: 600px;
	display: inline-block;

}
.yellow1{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-color: yellow;
	animation: yellow1 8s infinite;
	display: inline-block;
}
@keyframes yellow1{
	0%, 100% {
    background-color: yellow;
    transform: scale3d(1,1,1);
    transform: translate(0px,600px);    
  }
  50% {
    background-color: lightyellow;
    transform: scale3d(.25, .25, 1);
  }
}
.yellow2{
	width: 400px;
	height: 400px;
	background-color: #ffcf00;
	animation: yellow2 6s infinite;

}
@keyframes yellow2{
	0%,100%{
		opacity: .95;
	}
	50%{
		opacity: .25;
	}
}

.container2{
	width: 45%;
	height: 1000px;
	display: inline-block;

}

.blue-box1{
	width: 100px;
	height: 200px;
	background-color: mediumblue;
	margin: 10px;
	animation: bluebox 40s, infinite;	
}

@keyframes bluebox{
	0%{
		transform: translate(10px);
	}
	2%{
		transform: translate(600px, -300px);
	}
	10%{
		transform: translate(1000px, -600px);
	}
	12%{
		transform: translate(0px, -500px);
	}
	20%{
		transform: translate(300px, -200px);
	}
	100%{
		transform: translate(1000px,-400px); 
		
	}
}

.blue-box2{
	width: 200px;
	height: 100px;
	background-color: mediumblue;
	margin: 10px;
	animation: bluebox2 40s, infinite;	
	

}

@keyframes bluebox2{
	0%{
		transform: translate(10px);
		background-color: #8fc3ff;
	}
	10%{
		transform: translate(500px,100px);
		background-color: #8fc3ff;
	}
	100%{
		transform: translate(300px,-1000px);
		background-color: whitesmoke;
	}
}