

:root{
	--second:  1s;
	--minute: calc(var(--second)*60);
	--hour: calc(var(--minute)*60);
	--halfday:  calc(var(--hour)*12);
	--setTimeHour:  2;
	--setTimeMinute: 15;
	--timeShiftHour:  calc(var(--setTimeHour)*var(--hour));
	--timeShiftMinute: calc(var(--setTimeMinute)*var(--minute));
}

@keyframes rotate{
	from{transform: rotate(0);}
	to{transform: rotate(1turn);}
}

.seconds{
	--width: 10px;
	--height: 250px;
	--background-color: yellow;
	animation: rotate steps(60) var(--minute) infinite;
}

.minute{
	--width: 20px;
	--height: 150px;
	--background-color: green;
	animation: rotate steps(60) var(--hour) infinite;
	animation-delay: calc(var(--timeShiftMinute)*-1);
}



.hour{
	--width: 10px;
	--height: 200px;
	--background-color: black;
	animation:  rotate steps(12) var(--halfday) infinite;
	animation-delay: calc((var(--timeShiftHour) + var(--timeShiftMinute)) * -1);
}

.hand{
	position: absolute;
	left: calc(50% - var(--width)/2);
	width: var(--width);
	height: var(--height);
	background-color: var(--background-color);
	top: 50%;
	transform-origin: center 0;
	
}

.clockface{
	width: 600px;
	height: 600px;
	border-radius: 100%;
	position: relative;
	animation: background-color ease var(--minute) infinite;
	transform: rotate(180deg);
}

@keyframes background-color{
	from{background-color: red;}
	to{background-color:  blue}