.month{
	font-size: 200px;
	font-family: monospace;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.time{
	font-size: 45px;
	font-family: monospace;
	text-align: center;
}

.containerbig{
	margin-top: 100px;
	position: absolute;
	top: 300px;
	width:60%;
	margin-left: 300px;
}
.container1{
width: 100%;
display: flex;
font-size: 100px;
font-family: monospace;
flex-flow: row wrap;
}

#size-1 {
width: 400px;
font-size: 200px;
text-align: center;
border: dotted black 1px;
}
#size-2{
	font-size: 100px;
	flex: 1;
	text-align: center;
	border: dashed black 4px;
	animation: size-2 20s infinite;
}
@keyframes size-2{
0%,100%{
		border: dashed black 4px;
		background-color: white;
	}
	50%{
		border: dashed black 100px;
		background-color: lightgray;
	}
}
#size-3{
	font-size: 50px;
	flex: 2;
	text-align: center;
	border: dotted white; 5px;
	background-color: black;
	color: white;
	animation: size-3 10s infinite;
}
@keyframes size-3{
	0%,100%{
		background-color: black;
		font-size: 300px;
	}
	50%{
		background-color: #c6dfff;
		font-size: 50px;
	}
}

#size-4{
	font-size: 150px;
	flex: 2;
	text-align: center;
	border: dashed; white; 10px;
	background-color: black;
	color: white;
}